** What is 7 to the power of 4?**

In [ ]:
out_1 = 7**4;
print(out_1);

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!";
out_2 = s.split();
print(out_2);

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth";
diameter = 12742;
print("The diameter of {} is {} kilometers.".format(planet,diameter));

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7];
out_4 = lst[3][1][2];
print(str(out_4));

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [1]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3]);

hello

** What is the main difference between a tuple and a list? **

A tuple is immutable and is faster. A list is mutable and is slower.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [23]:
def domain(inp_1):
  print(inp_1.split('@')[1]);

In [24]:
domain('user@domain.com');

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [25]:
def contain(inp_2):
  return 'dog' in inp_2.lower().split()

In [26]:
contain('This is a dog')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [27]:
def count(inp_3):
  count = 0
  for i in inp_3.lower().split():
    if i == 'dog':
      count += 1
  return (count)

In [28]:
count('This dog is bigger than the dog over there but is more friendly than the other dog')

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [31]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [33]:
caught_speeding(90,True)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [45]:
salary_list = [50000,55000,45000,40000,65000];
total_salary = 0;
for i in range(len(salary_list)):
  print('Salary of employee {} is {}'.format(i+1,salary_list[i]));
  total_salary += salary_list[i];
print('Total salary =',total_salary);

Salary of employee 1 is 50000
Salary of employee 2 is 55000
Salary of employee 3 is 45000
Salary of employee 4 is 40000
Salary of employee 5 is 65000
Total salary = 255000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [50]:
dict_1 = {'Empid':12345,'Empname':'John Doe','Basicpay':50000};
dict_2 = {'DeptName':'R&D','DeptId':91};
dict_1.update(dict_2);
print(dict_1)

{'Empid': 12345, 'Empname': 'John Doe', 'Basicpay': 50000, 'DeptName': 'R&D', 'DeptId': 91}